node_modules
dist
coverage
packages/**/*.tgz
.vscode/
.env
/data
yarn-error.log
google-application-credentials.json
.DS_Store
.next
packages/front_bo/tsconfig.tsbuildinfo
packages/front_m/tsconfig.tsbuildinfo
.vscode
