version: "3.2"

services:
  api_bo:
    image: denoland/deno:debian-1.23.4
    volumes:
      - type: bind
        source: .
        target: /usr/src
    ports:
      - 6005:3000
    command: bash -c "cd /usr/src/packages/api_bo && deno task start"
    depends_on:
      - mongo_db
    environment:
      - MONGO_URL=mongodb://mongo_db:27017/academy_db
      - DB_NAME=academy_db
      - PORT=3000

  api_m:
    image: denoland/deno:debian-1.23.4
    volumes:
      - type: bind
        source: .
        target: /usr/src
    ports:
      - 6010:3000
    command: bash -c "cd /usr/src/packages/api_m && deno task start"
    depends_on:
      - mongo_db
    environment:
      - MONGO_URL=mongodb://mongo_db:27017/academy_db
      - DB_NAME=academy_db
      - PORT=3000

  front_bo:
    image: node:16
    environment:
      REACT_APP_API_URL: http://localhost:6005
      PORT: 3000
    volumes:
      - type: bind
        source: .
        target: /usr/src/app
    working_dir: /usr/src/app
    depends_on:
      - api_bo
    ports:
      - 3000:3000
    command: bash -c "cd packages/front_bo && yarn dev"

  front_m:
    image: node:16
    environment:
      REACT_APP_API_URL: http://localhost:6010
      PORT: 3000
    volumes:
      - type: bind
        source: .
        target: /usr/src/app
    working_dir: /usr/src/app
    depends_on:
      - api_m
    ports:
      - 8000:3000
    command: bash -c "cd packages/front_m && yarn dev"

  mongo_db:
    image: mongo:5
    environment:
      - MONGO_DATA_DIR=/data/db
    volumes:
      - ./data:/data/db
    command: mongod --logpath=/dev/null
    ports:
      - 27017:27017